.model-overlay{

    width: 300px;
    height: 150px;
    background-color: skyblue ;
    border-radius: 2px solid black;
}


.model-close{

    background-color: tomato;
    margin-top: 30px;

    margin-left: 20px;
    border-radius: 2px;
}

.model-p{
    margin-left: 20px;
}
.full{
    width:300px;
    height: 150px;
}